@import '../Abstract/color.module.scss';
@import '../Abstract/mixins.module.scss';
@import '../Abstract//midiaquerie.module.scss';

.header{
  background-color: $color1;
  margin-bottom: 40px;
  padding: 16px 0;
}

.container{
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;


  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $color5;
    text-align: center;

    @include mobile{
      font-size: 1.25rem;
    }
  }

  a{
    font-size: 1.125rem;
    color: $color5;
    letter-spacing: .5px;
    transition: .2s;
    border-radius: 4px;

    &:hover{
      color: $color11;
    }
  }

  a:global(.active){
    color: rgba($color: $color5, $alpha: 1);
    text-decoration: underline;
    pointer-events: none;
  }
}