@import '../Abstract/color.module.scss';
@import '../Abstract/mixins.module.scss';


.header{
  background-color: $color1;
  margin-bottom: 40px;
  padding: 16px 0;
}

.container{
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;


  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $color5;
    text-align: center;
  }

  a{
    font-size: 1.125rem;
    color: $color5;
    transition: .2s;
    
    &:hover{
      color: $color4
    }
  }
}