.wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper svg {
  width: 11%;
  height: 11%;
  transition: .3s;
  animation: show-hide 1.2s infinite;
}

@keyframes show-hide {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1.4);
  }
}