@import '../Abstract/color.module.scss';
@import '../Abstract/mixins.module.scss';


.container{
  @include container;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.page,
.active{
  padding: 8px 16px;
  color: $color11;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  transition: .2s;
}

.page{
  cursor: pointer;

  &:hover{
    background-color: rgba(
      $color: $color1, 
      $alpha: .15
    );
  }
}

.active{
  background-color: $color1;
  color: $color5;
  pointer-events: none;
}