//Color 1
$color1: #337EFF;
$color2: #478BFF;
$color3: #5C98FF;
$color4: #88B4FF; 
$color5: #EBF2FF;

//Color 2
$color11: #08122F;
$color22: #122769;
$color33: #18338C;
$color44: #1B399D; 
$color55: #1E3FAE;